@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GeneralSans-Bold';
    src: url('/fonts/GeneralSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GeneralSans-Medium';
    src: url('/fonts/GeneralSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GeneralSans-Extralight';
    src: url('/fonts/GeneralSans-Extralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GeneralSans-Light';
    src: url('/fonts/GeneralSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GeneralSans-Regular';
    src: url('/fonts/GeneralSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit-Regular';
    src: url('/fonts/Outfit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit-Medium';
    src: url('/fonts/Outfit-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Quilon-Regular';
    src: url('/fonts/Quilon-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Quilon-Bold';
    src: url('/fonts/Quilon-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Quilon-Semibold';
    src: url('/fonts/Quilon-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Quilon-Medium';
    src: url('/fonts/Quilon-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  